body{
    background-color:#1EEEFF;
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100%;
}

.tab-pane{
    color: white; 
}
button a {
    width: 100px;
    padding: 0px
}


h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    color: #FF1E1E;
}

.center{
    text-align: center;
    align-content:center;
    margin-left:auto;
    margin-right: auto;
    display:block;
}
#start_here{
   background-color: red;
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
    color: white;
   align-content:center;
}
#search{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
}
#whatin{
    background-color:blue;
}


.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

